extends layout

block content
  .main-content
    form(action='/animals/new' method='POST')
        div
            label.add-animal-label Name:
            input.add-animal-input(name='name')
            br
            label.add-animal-label SpeciesId:
            select.add-animal-input(name='speciesId')
                each species in speciesList
                    option(value=`${species.Id}`)= species.Name
            br
            label.add-animal-label OwnerId:
            select.add-animal-input(name='ownerId')
                each owner in ownersList
                    option(value=`${owner.Id}`)= owner.Name
            br
            label.add-animal-label Breed:
            input.add-animal-input(name='breed')
            br
            label.add-animal-label Age:
            input.add-animal-input(name='age')
            br
            label.add-animal-label Colour:
            input.add-animal-input(name='colour')
            br
            input(type='submit')