extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-8
        .card
          .card-header.text-center
            h2.display-5 Add New Vet
          .card-body
            form#vetForm(method='POST')
              .form-group
                label(for='name').h5 Name:
                input.form-control#name(name='name' required)
              .form-group
                label(for='license').h5.mt-2 License:
                input.form-control#license(name='license')
              .form-group
                label(for='started').h5.mt-2 Started:
                input.form-control#started(name='started' type='date')
              .form-group
                label(for='phone').h5.mt-2 Phone:
                input.form-control#phone(name='phone')
              .form-group.text-center
                input.btn.btn-primary.btn-lg.mt-3(type='submit' value='Add Vet')
              p#errorMessage.text-danger.text-center.mt-2

  script.
    console.log('Script block executing');
    document.getElementById('vetForm').addEventListener('submit', async (event) => {
      event.preventDefault();

      const formData = {
        name: event.target.name.value,
        license: event.target.license.value,
        started: event.target.started.value,
        phone: event.target.phone.value
      };

      try {
        console.log('Submitting form data:', formData);

        const response = await fetch('/vets/new', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(formData)
        });

        if (response.ok) {
          console.log('Form submitted successfully');
          window.location.href = '/vets';
        } else {
          const result = await response.json();
          document.getElementById('errorMessage').textContent = result.message;
        }
      } catch (error) {
        console.error('Error:', error);
        document.getElementById('errorMessage').textContent = 'An unexpected error occurred.';
      }
    });
