extends layout

block content
  table.table.table-bordered
    thead.table-light
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Age
        th(scope='col') City
        if user && user.Role === 'admin'
          th(scope='col' colspan='2' style='text-align: center;') Actions
    tbody
      each owner in data
        tr
          th(scope='row')= owner.Id
          td= owner.Name
          td= owner.Age
          td= owner.City
          if user && user.Role === 'admin'
            td(style = 'text-align: center;')
              a(href='/owners/' + owner.Id + '/delete') Delete
            td(style = 'text-align: center;')
              a(href='/owners/' + owner.Id + '/edit') Edit
