extends layout

block content
  table.table.table-bordered
    thead
      tr
        th(scope='col') Id
        th(scope='col') Name 
        th(scope='col') Age 
        th(scope='col') Colour
        th(scope='col') Delete
        th(scope='col') Edit 
    tbody
      each cat in data
        tr
          th(scope='row')= cat.Id
          td= cat.Name
          td= cat.Age
          td= cat.Colour
          td(style = 'text-align: center;')
            a(href='/delete-cat/' + cat.Id) Delete
          td(style = 'text-align: center;')
            a(href='/edit-cat/' + cat.Id) Edit

  //- div.delete-div
  //-   div.delete-wrapper
  //-     p.delete-p
  //-      | Delete a table row with an 
  //-      span(style="font-weight: bold;") Id 
  //-      | of: 
  //-     input(type='number' class = 'delete-input')
  //-   button.delete-button Delete