extends layout

block content 
    .main-content
        form(action = '/animals/' + data[0].Id + '/edit' method='POST')
            div
                label.add-animal-label Name: 
                input.add-animal-input(name = 'name' value = data[0].Name)
                br
                label.add-animal-label SpeciesId: 
                input.add-animal-input(name = 'speciesId' value = data[0].SpeciesId)
                br
                label.add-animal-label OwnerId: 
                input.add-animal-input(name = 'ownerId' value = data[0].OwnerId)
                br
                label.add-animal-label Breed: 
                input.add-animal-input(name = 'breed' value = data[0].Breed)
                br
                label.add-animal-label Age: 
                input.add-animal-input(name = 'age' value = data[0].Age)
                br
                label.add-animal-label Colour: 
                input.add-animal-input(name = 'colour' value = data[0].Colour)
                br
                input(type = 'submit')