extends layout

block content 
    .container.mt-5
        .row.justify-content-center
            .col-md-8
                .card
                    .card-header.text-center
                        h2.display-4 Edit Owner
                    .card-body
                        form(action='/owners/' + data[0].Id + '/edit' method='POST')
                            .form-group
                                label(for='name').h5 Name:
                                input.form-control#name(name='name' value=data[0].Name required)
                            .form-group
                                label(for='age').h5.mt-3 Age:
                                input.form-control#age(name='age' value=data[0].Age required)
                            .form-group
                                label(for='city').h5.mt-3 City:
                                input.form-control#city(name='city' value=data[0].City required)
                            .form-group.text-center.mt-3
                                input.btn.btn-primary.btn-lg(type='submit' value='Save Changes')
