extends layout

block content 
    .main-content
        form(action = '/owners/' + data[0].Id + '/edit' method='POST')
            div
                label.add-animal-label Name: 
                input.add-animal-input(name = 'name' value = data[0].Name)
                br
                label.add-animal-label Age: 
                input.add-animal-input(name = 'age' value = data[0].Age)
                br
                label.add-animal-label City: 
                input.add-animal-input(name = 'city' value = data[0].City)
                br
                input(type = 'submit')