extends layout

block content
    h1(id = 'add-pet-heading') Edit data for Cat
    form(action='/edit-cat/' + cat.Id, method='post')
        div(id = 'catDetails')
          label(for='catName' class = 'add-pet-label') Pet Name:
          input(type='text', name='catName', class = 'add-pet-input' value=cat.Name)
          br
          label(for='catAge' class = 'add-pet-label') Pet Age:
          input(type='number', name='catAge', class = 'add-pet-input' value=cat.Age)
          br
          label(for='catColour' class = 'add-pet-label') Pet Colour(1-10):
          input(type='text', name='catColour', class = 'add-pet-input' value=cat.Colour)

        input(type='submit', id='add-pet-submit' value='Submit')