extends layout

block content
    h1(id = 'add-pet-heading') Edit data for Dog
    form(action='/edit-dog/' + dog.Id, method='post')
        div(id = 'dogDetails')
          label(for='dogName' class = 'add-pet-label') Pet Name:
          input(type='text', name='dogName', class = 'add-pet-input' value=dog.Name)
          br
          label(for='dogBreed' class = 'add-pet-label') Pet Breed:
          input(type='text', name='dogBreed', class = 'add-pet-input' value=dog.Breed)
          br
          label(for='dogAge' class = 'add-pet-label') Pet Age:
          input(type='number', name='dogAge', class = 'add-pet-input' value=dog.Age)
          br
          label(for='dogFriendliness' class = 'add-pet-label') Pet Friendliness(1-10):
          input(type='number', name='dogFriendliness', class = 'add-pet-input' value = dog.Friendliness)

        input(type='submit', id='add-pet-submit' value='Submit')