doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body

    nav(class='navbar navbar-expand-lg navbar-light bg-light')
      div(class='collapse navbar-collapse', id='navbarNav')
        ul(class='navbar-nav')
          li(class='nav-item')
            a(class='nav-link active', href='/home') Home
          li(class='nav-item')
            a(class='nav-link', href='/animals') Animals
          li(class='nav-item')
            a(class='nav-link', href='/species') Species
          li(class='nav-item')
            a(class='nav-link', href='/owners') Owners
          if user && user.Role === 'admin'
            li(class='nav-item')
              a(class='nav-link', href='/animals/new') Add Animal 
            li(class='nav-item')
              a(class='nav-link', href='/species/new') Add Specie
            li(class='nav-item')
              a(class='nav-link', href='/owners/new') Add Owner
        ul(class='navbar-nav ms-auto')
          li(clas='nav-item')
            a(class='nav-link', href='/auth/login') Login
          li(clas='nav-item')
            a(class='nav-link', href='/auth/register') Register

    block content
    
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/javascripts/script-add-pet.js')
