doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body

    nav(class='navbar navbar-expand-lg navbar-light bg-light')
      div(class='collapse navbar-collapse', id='navbarNav')
        ul(class='navbar-nav')
          li(class='nav-item')
            a(class='nav-link active', href='/home') Home
          li(class='nav-item dropdown')
            a(href='/animals' class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false") Animals
            ul.dropdown-menu
              li
                a.dropdown-item(href='/animals') Report
                if user && user.Role === 'admin'
                  a.dropdown-item(href='/animals/new') Insert
          li(class='nav-item dropdown')
            a(href='/speices' class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false") Species
            ul.dropdown-menu
              li
                a.dropdown-item(href='/species') Report
                if user && user.Role === 'admin'
                  a.dropdown-item(href='/species/new') Insert
          li(class='nav-item dropdown')
            a(href='/owners' class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false") Owners
            ul.dropdown-menu
              li
                a.dropdown-item(href='/owners') Report
                if user && user.Role === 'admin'
                  a.dropdown-item(href='/owners/new') Insert
          li(class='nav-item dropdown')
            a(href='/vets' class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false") Vets
            ul.dropdown-menu
              li
                a.dropdown-item(href='/vets') Report
                if user && user.Role === 'admin'
                  a.dropdown-item(href='/vets/new') Insert
        ul(class='navbar-nav ms-auto')
          if user
            li(class='nav-item')
              a(class='nav-link', href='/auth/logout') Logout
          else
            li(clas='nav-item')
              a(class='nav-link', href='/auth/login') Login
            li(clas='nav-item')
              a(class='nav-link', href='/auth/register') Register

    block content
    
    script(src='/static/js/bootstrap.bundle.min.js')
