extends layout

block content
    h1(id = 'add-pet-heading') Enter Data About a New Pet
    form(action='/pets/new', method='post')
    
        label(for='type' class = 'add-pet-label') Pet Type:
        select(name='type', id = 'add-pet-select'  )
          option(class = 'add-pet-options' value='cat') Cat
          option(class = 'add-pet-options' value='dog') Dog

        br

        div(id = 'catDetails')
          label(for='catName' class = 'add-pet-label') Pet Name:
          input(type='text', name='catName', class = 'add-pet-input')
          br
          label(for='catAge' class = 'add-pet-label') Pet Age:
          input(type='number', name='catAge', class = 'add-pet-input')
          br
          label(for='catColour' class = 'add-pet-label') Pet Colour:
          input(type='text', name='catColour', class = 'add-pet-input')

          br

        div(id = 'dogDetails' class = 'hidden')
          label(for='dogName' class = 'add-pet-label') Pet Name:
          input(type='text', name='dogName', class = 'add-pet-input')
          br
          label(for='dogBreed' class = 'add-pet-label') Pet Breed:
          input(type='text', name='dogBreed', class = 'add-pet-input')
          br
          label(for='dogAge' class = 'add-pet-label') Pet Age:
          input(type='number', name='dogAge', class = 'add-pet-input')
          br
          label(for='dogFriendliness' class = 'add-pet-label') Pet Friendliness(1-10):
          input(type='number', name='dogFriendliness', class = 'add-pet-input')

        input(type='submit', id = 'add-pet-submit' value='Submit')