body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
}

.nav-link {
	font-size: 28px;
}

.navbar {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.home-heading{
	margin-top: 60px;
}

#enter-data-heading {
	margin-top: 50px;
}

.add-animal-label {
	display: block;
	margin-bottom: 5px;
	font-size: 20px;
}

.add-pet-options {
	font-size: 18px;
}

.add-animal-input, #add-pet-select{
	margin-top: 7px;
	margin-bottom: 10px;
	padding: 3px;
	font-size: 18px;
}

#add-pet-submit {
	margin-top: 10px;
	font-size: 18px;
	padding: 6px;
}

.hidden{
	display: none;
}

.table{
	margin-top: 40px;
	width: 60%;
	font-size: 18px;
	margin-left: auto; 
	margin-right: auto;
}

th{
	text-align: center;
}

td a{
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
}

.main-content {
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 5%;
}